* {
  margin: 0;
  padding: 0;
  /* リセットCSS */
}

html {
  font-size: 100%;
}

body {
  font-family: "Yu Gothic Medium","游ゴシック Medium", YuGothic,"游ゴシック体","ヒラギノ角ゴ　Pro W3",sans-serif;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.logo {
  width: 210px;
  margin-top: 14px;
}

.page-header {
  display: flex;
  justify-content: space-between;
}

.main-nav {
  display: flex;
  list-style: none; /* ・なし */
  font-size: 1.25rem;
  margin-top: 35px;
  text-transform: uppercase;
  /* テキストを大文字（uppercase）、小文字（lowercase）に変換 */
}

.main-nav li {
  margin-left: 36px;
}

.main-nav a {
  color: #432;
}

.main-nav a:hover {
  /* :hover=選択した要素上にマウスカーソルがあるときにスタイル */
  color: #0dbd;
}

.wrapper {
  /* コンテンツの最大幅指定 */
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 4%;
}


/* HOME */

.home-content {
  text-align: center;
  margin-top: 10%;
}

.home-content p {
  font-size: 1.125rem;
  margin: 10px 0 42px;
  /* 上　左右　下 */
}

/* 見出し */
.page-title {
  font-size: 5rem;
  font-family: 'Philosopher', serif;
  /* serif(明朝体) */
  text-transform: uppercase;
  font-weight: normal;
}

/* ボタン */
.button {
  font-size: 1,375rem;
  background: #0bd;
  color: #fff;
  border-radius: 5px;
  /* border-radius= 要素の角を丸める */
  padding: 18px 32px;
}

.button:hover {
  background: #0090aa;
}