* {
  margin: 0;
  padding: 0;
  /* リセットCSS */
}

html {
  font-size: 100%;
}

body {
  font-family: "Yu Gothic Medium","游ゴシック Medium", YuGothic,"游ゴシック体","ヒラギノ角ゴ　Pro W3",sans-serif;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}


/* 背景 */
.big-bg {
  background-size: cover;
  background-position: center top;
}

#home {
  /* idを指定する際には＃ */
  background-image: url(../WCBCafe/images/main-bg.jpg),linear-gradient(#c9ffbf,#ffafbd);
  /* 画像にグラデーション */
  background-blend-mode: luminosity;/* luminosity(輝度) */
  /* background-color: #0bd; */
  /* background-blend-mode: hard-light; (ハイライト) */
  /* background-color（背景画像に重ねたい色）＋ブレンドモード（background-blend-mode） */
  min-height: 100vh;
}

#home .page-title{
  text-transform: none;
}

.logo {
  width: 210px;
  margin-top: 14px;
}

.page-header {
  display: flex;
  justify-content: space-between;
}

.main-nav {
  display: flex;
  list-style: none; /* ・なし */
  font-size: 1.25rem;
  margin-top: 35px;
  text-transform: uppercase;
  /* テキストを大文字（uppercase）、小文字（lowercase）に変換 */
}

.main-nav li {
  margin-left: 36px;
}

.main-nav a {
  color: #432;
}

.main-nav a:hover {
  /* :hover=選択した要素上にマウスカーソルがあるときにスタイル */
  color: #0dbd;
}

.wrapper {
  /* コンテンツの最大幅指定 */
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 4%;
}


/* HOME */

.home-content {
  text-align: center;
  margin-top: 10%;
}

.home-content p {
  font-size: 1.125rem;
  margin: 10px 0 42px;
  /* 上　左右　下 */
}

/* 見出し */
.page-title {
  font-size: 5rem;
  font-family: 'Philosopher', serif;
  /* serif(明朝体) */
  text-transform: uppercase;
  font-weight: normal;
}

/* ボタン */
.button {
  font-size: 1,375rem;
  background: #0bd;
  color: #fff;
  border-radius: 5px;
  /* border-radius= 要素の角を丸める */
  padding: 18px 32px;
}

.button:hover {
  background: #0090aa;
}

/* NEWSページ */
#news {
  /* idを指定する際には＃ */
  background-image: url(../WCBCafe/images/news-bg.jpg),linear-gradient(#c9ffbf,#ffafbd);
  height: 270px;
  margin-bottom: 40px;
}

#news .page-title {
  text-align: center;
}


/* メイン部分 */
.post-info {
  position: relative; /* relative＝相対位置 */
  padding-top: 4px;
  margin-bottom: 40px;
}

.post-date {
  border-radius: 50%;
  background: #0bd;
  color: #fff;
  width: 100px;
  height: 100px;
  font-size: 1.625rem;
  text-align: center;
  position: absolute; /* absolute=親要素を基準に絶対位置を指定 */
  top: 0;
  /* padding-top: 10px; */
}
/* 日付を２段にする */
.post-date span {
  font-size: 1rem;
  border-top: 1px rgba(255,255,255,.5) solid;
  padding-top: 6px;
  display: block;
  width: 60%;
  margin: 0 auto;
}
/* タイトル */
.post-title {
  font-family: "Yu Mincho", "YuMincho", serif;
  font-size: 2rem;
  font-weight: normal;
}
.post-title,
.post-cat {
  margin-left: 120px;
}
/* 画像と本文に余白 */
article img {
  margin-bottom: 20px;
}
article p {
  margin-bottom: 1rem;
}


/* サイドバー部分 */
.sub-title {
  font-size: 1.375rem;
  padding: 0 8px 8px;
  border-bottom: 2px #0bd solid;
  font-weight: normal;
}

aside p {
  padding: 12px 10px;
}

.sub-menu {
  list-style: none; /*　・削除  */
  margin-bottom: 60px;
}

.sub-menu li {
  border-bottom: 1px #ddd solid;
}

.sub-menu a {
  color: #432;
  padding: 10px;
  display: block; /* リンクでクリックできる幅を広げる */
}

.sub-menu a:hover {
  color: #0bd; /* a:hover=カーソル重ねた部分 */
}

/* 横並び */
.news-contents {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

/* 記事部分 */
article {
  width: 74%;
}

/* サイドバー */
aside {
  width: 22%;
}

/* footer */
footer {
  background: #432;
  text-align: center;
  padding: 26px 0;
}

footer p {
  color: #fff;
  font-size: 0.075rem;
}


/* レスポンシブ（メディアクエリ） */
@media (max-width: 600px) {
  /* max-width: 600px =600px以下 */
  h1 {
    color: #0bd;
  }
}

@media (max-width: 600px) {
  .page-title {
    font-size: 2.5rem;
  }

  /* HEADER */
  .main-nav {
    font-size: 1rem;
    margin-top: 10px;
  }
  .main-nav li {
    margin: 0 20px;
  }
  /* HOME */
  .home-content {
    margin-top: 20px;
  }
}