* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fffeee;
  /* 画像挿入　background-image: url(chapter3/c3-08-2/images/bg.png); */
  /* background-repeat=背景画像の繰り返し表示方法指定 */
  /* background-position=背景画像の位置 */
  /* background-size=背景画像の大きさ　cover=比を保って全体 contain=比を保って余白できる可能性 */
}

h1 {
  font-size: 2rem;
  font-family: "游ゴシック体","Yu Gothic";/* serif=明朝体 */
  font-weight: bold;
  line-height: 1.5;/* 行間 (おすすめは1.5~1.9) */
  text-align: center;
  border-width: 2px;/* 線の太さ thin(細い) medium(普通) thisk(太い) */
  border-style: solid;/* solod(実線) */
  border-color: tomato;
  /* width style color ともに　上下左右で指定可能 */
}

h2 {
  font-size: 20px;
  font-family: "游ゴシック体","Yu Gothic";
  text-align: justify;
}

/* list-style-type=リストマーカー指定　square(■) decimal(数字)*/
/* list-style-pisition=リストマーカーの位置指定　outside(ボックスの外側) inside(ボックスの内側) */
/* list-style-image=リストマーカーに画像　*/
/* list-style=まとめてリストマーカー指定　（typeとimageなら画像優先）*/

.item {
  background: #0bd;
  color: #000;
  width: 20%;
  height: 50PX;
  margin: 10px;
  padding: 10px;
}

.container {
  display: flex;/* 親要素に記載 flex=横並び */
  flex-direction: row-reverse;
  /*  flex-direction=子要素の並びを指定　*/
  /*  column(上から下に縦並び)　column-reverse(下から上に縦並び)　row(左から右に横並び)　row-reverse(右から左に横並び)　*/
  flex-wrap: wrap;
  /* flex-wrap=子要素の折り返し nowrap(初期値) wrap(上から下に折り返す) wrap-reverse(下から上に折り返す) */
  justify-content: center;
  /* ustify-content=水平方向の並べ替え flex-end(右揃え) center(中央) space-between(両端に子要素＋均等) space-around(均等) */
  align-items: stretch;
  /* align-items=水平方向　stretch(初期値は親要素の最大) flex-start(上揃え) flex-end(下揃え) center(中央) baseline(ベースラインに揃える) */
}

.gurito {
  display: grid; /* タイル型に指定（grid-template-columnsと併用で表示が変化する） */
  grid-template-columns: 1fr 1fr 1fr;
  /* 子要素の横幅指定　（例）３つの子要素を横並びにしたい際には　grid-template-columns: 200px 200px 200px と指定する */
  /* 単位 fr (画面幅の比率)　1：1：1 */
  grid-template-rows: 200px 200px 200px 200px;
  /* 子要素の高さ（例）4行の縦並びにしたい際には　grid-template-rows: 200px 200px 200px 200px と指定する */
  gap: 10px; /* 子要素同士の余白 */
}

.box {
  background: #0bd;
  color: #000;
  padding: 10px;
}