* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fffeee;
  background-image: url(chapter3/c3-08-2/images/bg.png);
  background-repeat: repeat-x;
  /* background-repeat=背景画像の繰り返し表示方法指定 */
  /* background-position=背景画像の位置 */
  /* background-size=背景画像の大きさ　cover=比を保って全体 contain=比を保って余白できる可能性 */
}

h1 {
  font-size: 2rem;
  font-family: serif;
  /* serif=明朝体 */
  font-weight: bold;
  line-height: 1.5;
  /* 行間 (おすすめは1.5~1.9) */
  text-align: center;
}

h2 {
  font-size: 20px;
  font-family: "游ゴシック体","Yu Gothic";
  text-align: justify;
}