* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fffeee;
  /* 画像挿入　background-image: url(chapter3/c3-08-2/images/bg.png); */
  /* background-repeat=背景画像の繰り返し表示方法指定 */
  /* background-position=背景画像の位置 */
  /* background-size=背景画像の大きさ　cover=比を保って全体 contain=比を保って余白できる可能性 */
}

h1 {
  font-size: 2rem;
  font-family: "游ゴシック体","Yu Gothic";/* serif=明朝体 */
  font-weight: bold;
  line-height: 1.5;/* 行間 (おすすめは1.5~1.9) */
  text-align: center;
  border-width: 2px;/* 線の太さ thin(細い) medium(普通) thisk(太い) */
  border-style: solid;/* solod(実線) */
  border-color: tomato;
  /* width style color ともに　上下左右で指定可能 */
}

h2 {
  font-size: 20px;
  font-family: "游ゴシック体","Yu Gothic";
  text-align: justify;
}

/* list-style-type=リストマーカー指定　square(■) decimal(数字)*/
/* list-style-pisition=リストマーカーの位置指定　outside(ボックスの外側) inside(ボックスの内側) */
/* list-style-image=リストマーカーに画像　*/
/* list-style=まとめてリストマーカー指定　（typeとimageなら画像優先）*/

.item {
  background: #0bd;
  color: #000;
  margin: 10px;
  padding: 10px;
}

.container {
  display: flex;
  /* FlexBox＝親要素に記載 */
}